.container {
  display: flex;
  align-items: flex-start;
  min-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item {
  width: 600px;
  margin: 0;
  padding-top: 7px;
  border: none;
  background-color: #fff;
  resize: none;
  font-family: 'roboto-font', sans-serif;
  font-size: 16px;
}

.done {
  color: gray;
  text-decoration: line-through;
}

@media screen and (max-width: 720px) {
  
  .item {
    width: 100%;
    padding-top: 7px;
    border: none;
    background-color: #fff;
    resize: none;
    font-family: 'roboto-font', sans-serif;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .item {
    width: 320px;
  }
  
  .item {
    width: 100%;
    padding-top: 7px;
    border: none;
    background-color: #fff;
    resize: none;
    font-family: 'roboto-font', sans-serif;
    font-size: 16px;
  }
}